@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    *{
        font-family: 'Plus Jakarta Sans', 'brunson';
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
}

@theme {
  --color-brandRed: #D32F2F;
  --color-brandDarkRed: #8B0000;
  --color-brandGold: #C5A059;
  --color-brandDark: #121212;
  --color-backdrop: #252525;

  --color-uastec-primary: #C4410F;
  --color-imsc-primary: #5549C0;
  --color-mo-primary: #E27E37;
  --color-ibcc-primary: #E27E37;
    
  --shadow-red: 0px 0px 20px 3px #CF2D32;
  --blur-xxs: 2px;
  --tracking-tightest: -0.1em;
  
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
  --font-oswald: 'Oswald'
}  

@font-face {
  font-family: 'Brunson';
  src: url('./assets/fonts/Brunson.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@utility bg-hero-gradient {
  background: linear-gradient(135deg, #973131 0%, #E0A75E 50%, #F9D689 100%);
}

@utility bg-gradient-red {
  background: linear-gradient(180deg, #D81717 0%, #E27E37 100%);
}

@utility bg-gradient-pink {
  background: linear-gradient(180deg, #5549C0 0%, #FF6D8A 100%);
}

@utility bg-gradient-orange {
  background: linear-gradient(180deg, #78A4CB 14%, #E5CB90 100%);
}

@utility bg-gradient-indigo {
  background: linear-gradient(180deg, #FF964B 0%, #000F3D 100%);
}

@utility bg-uastec {
  background: linear-gradient(135deg, #E27E37 0%, #D81717 50%, #E27E37 100%);
}

@utility bg-imsc {
  background: linear-gradient(135deg, #FF6D8A 0%, #5549C0 50%, #79A7ED 100%);
}

@utility bg-mo {
  background: linear-gradient(135deg, #78A4CB 0%, #E5CB90 50%, #EEEEEE 100%);
}

@utility bg-ibcc {
  background: linear-gradient(135deg, #03021B 0%, #000095 25%, #7550A1 45%, #FFCE19 100%);
}

@utility bg-login-gradient {
  background: linear-gradient(135deg, #4f46e5 0%, #7c3aed 30%, #ec4899 70%, #f43f5e 100%);
}

@utility red-border-box {
  border: 8px double #E27E37;
  position: relative;
}